
DIV.button {
  background: #0aa5c7;
  border-radius: 4px 4px 4px 4px;
  color: white;
  margin-top: 5px;
}

H2.header {
    line-height: 2em;
}

body {
    margin: 0px;
    padding: 0px 0px 10px 0px;
    font: 0.9em "trebuchet ms", helvetica, arial, sans-serif;
    overflow-y: scroll;
    display: block;
}

DIV#pagebody {
    width: 80%;
    border-spacing: 0px;
    border-width: 0px;
    -webkit-margin-start: auto;
    -webkit-margin-end: auto;
    margin-left: auto;
    margin-right: auto;
}

DIV.tabs {
    background-image: url('../img/tab_b.png');
    padding: auto;
    margin: auto;
    z-index: 101;
    width: 80%;
    font-size: 13px;
    margin-left: auto;
    margin-right: auto;
}

DIV.tabs UL {
    margin: 0;
    padding: 0;
    display: table;  
    margin-left: auto;
    margin-right: auto;
}

DIV.tabs LI {
    float: left;
    display: table-cell;
    background-image: url('../img/tab_b.png');
    line-height: 36px;
    list-style: none;
}

DIV.tabs A {
    display: block;
    padding: 0 20px;
    font-weight: bold;
    color: #01395c;    
    text-decoration: none;
    outline: none;
}

DIV.tabs A:hover {
    background-image: url('../img/tab_h.png');
    background-repeat:repeat-x;
    color: #fff;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 1.0);
    text-decoration: none;
}

DIV.tabs LI.selected A {
    background-image: url('../img/tab_a.png');
    background-repeat:repeat-x;
    color: #fff;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 1.0);
}

DIV.box {
    background: #D7F3F7;
    color: #007FC6;
    display: block;
    float: right;
    width: 25%;
}

DIV.box .box-title {
    background: #D7F3F7;
    color: #007FC6;
    border-bottom-color: #888;
    border: 2px;
    font-size: 1.2em;
    font-weight: bold;
    padding-bottom: 5px;
    padding-left: 0px;
    padding-top: 5px;
    margin-left:10px;
    margin-right:10px;
}

DIV.box .box-subtitle {
    display: block;
    font-size: 1.17em;
    margin-top: 1em;
    margin-bottom: 0.4em;
    font-weight: bold;
}	

DIV.box .box-subtitle A {
    background: #D7F3F7;
    color: #007FC6;
}

DIV.one-news H3 {
    background: #D7F3F7;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

DIV.one-news H3 A {
    color: #007FC6;
}

DIV.box-surround A.newsarchives {
    color: #007FC6;
    padding-top: 2em;    
    display: block;    
    font-size: 1.17em;
    font-weight: bold;
}

DIV#markdown-toc {
    background-color: #D7F3F7;
    border: 1px solid #84B0C7;
    font-size: 120i%;
    display: block;
    float: right;
    margin: 10px;
    width: 40%;
    color: #01395C;
}

DIV#markdown-toc li {
    display: list-item;
    text-align: -webkit-match-parent;
    list-style-type: decimal;    
}

UL#markdown-toc {
    background-color: #D7F3F7;
    border: 1px solid #84B0C7;
    font-size: 120i%;
    display: block;
    float: right;
    margin: 10px;
    width: 40%;
    color: #01395C;
}

UL#markdown-toc li {
    display: list-item;
    text-align: -webkit-match-parent;
    list-style-type: decimal;    
}

UL.bibliography LI {
  padding-bottom: 20px;
}
